.motors {
    display: flex;
    /* background-color:  aquamarine; */
    /* justify-content: space-between; */
    /* width: 14%; */
    margin-left: 15.7%;
    padding-top: 5px;


}


.dropdown {
    width: 14.6%;
    /* height: 25px; */
    margin-left: 2%;
    /* margin-top: 0%; */
    padding-left: 30px;
    height: 50px;
    border-color: #002f34;
    border-width: 2px;
    border-radius: 3.8px;

}
.fa-solid fa-magnifying-glass{
    color: #002f34;
}

.olx-logo {
    margin-left: 14.8%;
    color: #002f34;
    font-size: 50px;
    height: 35px;
    margin-top: 5px;
}

#search {
    /* height: 20px; */
    width: 34.4%;
    margin-left: 0.8%;
    /* margin-top: 0%; */
    height: 50px;
    border-color: #002f34;
    border-width: 2px;
    border-radius: 3.8px;
}

.navbar {
    display: flex;
    /* margin-bottom: 50px; */
    /* margin-top: -0.3%; */
}

.nav-div {
    background-color: #f7f8f8;
   position: sticky;
   top: 0%;
}
.search-button{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 26.68%;
    top: 50.5px;
    background-color: #002f34;
    border-color: #002f34;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3.8px;
}

#login {
    margin-left: 4.2%;
    /* justify-content: center; */
    margin-top: 0.7%;
    color: inherit;
    cursor: pointer;
    border-bottom: 2px solid #002f34;
    font-family: Roboto, Helvetica, sans-serif;
}

#sell {
    
    /* justify-content: center; */
    /* margin-bottom: 10px; */
    /* margin-bottom: 10px; */
    margin-top: 0.8%;
    text-transform: uppercase;
    position: relative;
    right: 160px;
    font-weight: 700;
    font-family: Roboto,Helvetica,sans-serif;
    font-size: 14.3px;
    color: #002f34;
}





.catagory {
    margin-left: 15%;
    width: 138px;
    border: none;
    /* background-color: aliceblue; */
    border-radius: 5px;
    /* font-size: large; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-transform: uppercase;

}

.select {
    display: flex;
    margin-left: 1%;
}

.option {
    display: inline-block;
    padding-inline: 5px;
    font-size: small;
    /* opacity: 0.9; */
    align-items: center;
    font-size: 14px;
    color: #002f34;
    font-family: Helvetica, sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

/* .option:hover{
    color: rgb(18, 69, 235);
} */

/* .main {
    background-color: aliceblue;
} */

::placeholder {
    padding-left: 10px;
    font-family:Helvetica, sans-serif; 
    /* font-weight: 700; */
    font-size: medium;

}

.hov {
    display: inline-block;
    margin-top: -0.1%;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 0.3%;
    background-color: #f7f8f8;
}
.car{
    display: inline-block;
   font-weight: 500;
   text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: 11.3px;
}
.cars-logo{
     margin-top: 4px; 
}
.building-logo{
    margin-top: 4px; 

}
.building{
    display: inline-block;
   
    font-family: Helvetica, sans-serif;
    font-size: 11.3px;
    font-weight: 500;
   text-transform: uppercase;
}

.sellicon {
    position: relative;
    right: 4.5%;
    margin-bottom: 10px;
    margin-left: 5.8%;
}
.second-search-icon{
    position: relative;
    left: 410px;
    top: 17px;
    height: 16px;
}
.material-symbols-sharp{
    font-weight:bolder ;
    font-size: 20px;
    position: relative;
    right: 163px;
    bottom: 4px;
    
}

.image {
    width: 100%;
    height: 260px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background: url(/assets/wallpaper.6416002….jpg);
}

.fresh {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 24px;
    margin-left: 17%;
    color: #002f34;
    /* margin-top: 80px; */
}

.line {
    width: 5px;
    color: #002f34;

}

.footer {
    display: flex;
    background-color: #f7f8f8;
}

.buy {
    font-family: Roboto, Helvetica, sans-serif;
    /* width:5px; */
    padding-left: 40px;
    font-size: 20px;
    margin-top: 25px;
    color: #002f34;
}

.footer-image {
    margin-left: 15%;
}

/* .text-main-div{
    margin-right:20% ; 
    background-color: #002f34;
} */
/* .footer-li{
    opacity: 0.7;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: small;
    padding-bottom: 7px;
    margin-right: 50px;
    
} */
.get {
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 65px;
    font-size: medium;
    color: #002f34;
}

.popular-li {
    opacity: 0.6;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
    /* margin-right: 50px; */
    /* margin-left: 0%; */
    cursor: pointer;
}

.trending-li {
    opacity: 0.6;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
    /* margin-right: 50px; */
    cursor: pointer;
}

.about-li {
    opacity: 0.6;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
    /* margin-right: 50px; */
    cursor: pointer;
}

.olx-li {
    opacity: 0.6;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
    margin-right: 50px;
    cursor: pointer;
}

.first-footer-ul {
    margin-left: -22px;
}

.second-footer-ul {
    margin-left: -4px;
}

.third-footer-ul {
    margin-left: -2px
}

.forth-footer-ul {
    margin-left: -74px
}

.app-store {
    height: 40px;
    margin-top: 20px;
    /* padding: 5px; */
    cursor: pointer;
}

.get-app {
    margin-left: 3.5%;

}

/* #dot {
    flex-wrap: wrap;
} */
.try {
    font-weight: 700;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    padding-left: 40px;
    margin-top: 35px;
    color: #002f34;
}

.popular {
    text-transform: uppercase;
    font-weight: 700;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 5px;
    color: #002f34;

}

.about {
    text-transform: uppercase;
    font-weight: 700;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 23px;
    color: #002f34;

}

.olx {
    text-transform: uppercase;
    font-weight: 700;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: -50px;
    color: #002f34;
}

.trending {
    text-transform: uppercase;
    font-weight: 700;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 20px;
    color: #002f34;
}

.first-section {
    margin-left: 16%;
    margin-top: 20px
}

.second-section {
    margin-left: 3.9%;
    margin-top: 20px
}

.third-section {
    margin-left: 4.2%;
    margin-top: 20px
}

.forth-section {
    margin-left: 10%;
    margin-top: 20px
}

.second-footer {
    display: flex;
    background-color: #ebeeef;
    width: 100%;
    padding-bottom: 60px;
}
.free{
    text-align: right;
    color: #fff;
    font-weight: 700;
    font-family:Roboto, Helvetica, sans-serif; 
    font-size: 13px;

}
.classified{
    text-align: right;
    margin-right: 13.5%;
}
.last-footer{
    background-color: #002f34;
    padding-bottom: 18px;

    padding-top: 18px;
}
.follow{
    font-weight: 700;
    font-family :Roboto, Helvetica, sans-serif; 
    color: #002f34;
    text-transform: uppercase;
    font-size: 14px;
    
}
.facebook{
    color: #222;
    cursor: pointer;
    width: 25px;
   
    /* background-color: #f7f8f8; */
   
}
.twitter{
    color: #222;
    cursor: pointer;
    width: 25px;
/*    
    background-color: #f7f8f8; */
   
}
.youtube{
    color: #222;
    cursor: pointer;
    width: 25px;
    /* background-color: #f7f8f8; */
   
}

.instagram{
    color: #222;
    cursor: pointer;
    width: 25px;
    /* background-color: #f7f8f8; */
    margin-right: 20px;
   
}
.ftyi{
    margin-top: 5px;
    
}
.last-footer-logos-store{
    display: flex;
    margin-top: 35px;
}
.last-footer-app-store{
    width: 94px;
    cursor: pointer;

}
.last-footer-google-store{
    width: 94px;
    cursor: pointer;
}
.last-footer-app-gallery-store{
    width: 94px;
    cursor: pointer;
}
.follow-us{
    margin-left: 6.2%;
    margin-top: 20px;
    /* background-color: antiquewhite; */
    padding: 20px;
}

.fresher {
    margin-top: 46px;
}

/* ======================================================== icon section======================================================== */

/* .fa-solid fa-car{
    width: 20px;
} */


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 30,
  'wght' 900,
  'GRAD' 20,
  'opsz' 60;
  color:#f7f8f8;
  font-size: 30px;
  margin-top: 8px;
  display: flex;
  cursor: pointer;
  margin-left: 10%;
}
.add{
    /* display: flex; */
    cursor: pointer;
    background-repeat: no-repeat;
    /* justify-content: center; 
    align-content: center;*/
} 


/* ==========================card section=================================== */

.card-img-top{
    border: 1px solid black;
}


.card {

    padding: 11px;
    border-radius: 10px;
  border: 1px solid black;
    /* border-width: 5px; */

}

.cards {
    display: flex;
    margin-left: 17%;
    margin-top: 18px;
}

.card-text {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: large
}

.card-title {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.card-peragraph {
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    opacity: 0.7;
}








/*========================================== hover section ======================================================= */


#login:hover {
    color: rgb(42, 126, 221);
}

.hov:hover {
    color: rgb(25, 70, 219);
}

#hovermobilephones:hover {
    color: blue;
    cursor: pointer;
    /* font-weight: 500; */
}

#hovercars:hover {
    color: blue;
    cursor: pointer;
    /* font-weight: 500; */
}

#hovermotorcycles:hover {
    color: blue;
    cursor: pointer;
    /* font-weight: 500; */
}

#hoverhouses:hover {
    color: blue;
    cursor: pointer;
    /* font-weight: 500; */
}

#hoverTV-Video-Audio:hover {
    color: blue;
    cursor: pointer;
    /* font-weight: 500; */
}

#hovertablets:hover {
    color: blue;
    cursor: pointer;
    /* font-weight: 500; */
}

#hoverLandPlots:hover {
    color: blue;
    cursor: pointer;
    /* font-weight: 500; */
}
.cars-logo:hover{
    color: blue;
    cursor: pointer;
}
.building-logo:hover{
    cursor: pointer;
    color: blue;
    
}

/* =========================================================== button load more ========================================================= */
.btn {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 5.4%;
    height: 47px;
    background: none;
    border: 3px solid #002f34;
    fill: #002f34;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    font-size: medium;
    box-sizing: inherit;

}